VITE_API_KEY=your_firebase_api_key
VITE_Auth_Domain=your_firebase_auth_domain
VITE_PROJECT_ID=your_firebase_project_id
VITE_STORAGE_BUCKET=your_firebase_storage_bucket
VITE_MESSAGING_SENDERID=your_firebase_messaging_sender_id
VITE_APPID=your_firebase_app_id
